
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Fosstech - Employee Management Software</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Theme/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Theme/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Theme/assets/css/font-awesome.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/Theme/assets/css/line-awesome.min.css">

    <!-- Chart CSS -->
    <link rel="stylesheet" href="~/Theme/assets/plugins/morris/morris.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Theme/assets/css/style.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Theme/assets/js/html5shiv.min.js"></script>
        <script src="~/Theme/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        @Html.Partial("_HeaderPartial")
        <!-- /Header -->
        <!-- Sidebar -->
        @Html.Partial("_SidebarPartial")
        <!-- /Sidebar -->
        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <!-- Page Content -->
            <div class="content container-fluid">

                <!-- Page Header -->
                @*@Html.Partial("_PageHeaderPartial")*@
                <!-- /Page Header -->

                @RenderBody()

            </div>
            <!-- /Page Content -->

        </div>
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->
    <!--Start Footer-->
    <!--End Footer-->
    <!-- jQuery -->


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="~/Theme/assets/js/popper.min.js"></script>
    <script src="~/Theme/assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <!-- Chart JS -->
    <!-- Custom JS -->

    <script src="~/Theme/assets/js/app.js"></script>
    <script src="~/Theme/assets/js/jquery.slimscroll.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>